* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: darkgray;
}

.board-container {
  width: 600px;
  height: 600px;
}
